<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultSoap" allowCookies="true" maxReceivedMessageSize="6553600">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/LicencingServer/entity/LicencingAPI/1"
        binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
        contract="LicencingAPI.DefaultSoap" name="DefaultSoap" />
    </client>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
